<?xml version="1.0"?>
<!--
HEXAPOD VERSION 2 - MAIN PLATFORM COLLISION MODEL

This file contains the collision model for the main body platform of the current 
generation hexapod robot.

Features complex geometry with 19 boxes and 6 cylinders for comprehensive collision 
detection coverage of the central platform structure.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Collision model macro for main platform using multiple primitive geometric shapes -->
    <xacro:macro name="platform_collision" params="prefix">
        
        <!-- Central platform structural elements -->
        <collision>
            <origin xyz="0 0 0.0161" rpy="0.00000 0.00000 0.00000"/>
            <geometry>
                <box size="0.07820 0.19000 0.0288"/>
            </geometry>
        </collision>

        <!-- Diagonal corner reinforcements -->
        <collision>
            <origin xyz="0.04104 0.04082 0.0161" rpy="0.00000 0.00000 0.78540"/>
            <geometry>
                <box size="0.07320 0.08000 0.0288"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="0.04104 -0.04082 0.0161" rpy="0.00000 0.00000 -0.78540"/>
            <geometry>
                <box size="0.07320 0.08000 0.0288"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="-0.04104 0.04082 0.0161" rpy="0.00000 0.00000 -0.78540"/>
            <geometry>
                <box size="0.07320 0.08000 0.0288"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="-0.04104 -0.04082 0.0161" rpy="0.00000 0.00000 0.78540"/>
            <geometry>
                <box size="0.07320 0.08000 0.0288"/>
            </geometry>
        </collision>
        
        <!-- Secondary structural layers -->
        <collision>
            <origin xyz="0 0 0.01556" rpy="0.00000 0.00000 0.00000"/>
            <geometry>
                <box size="0.07820 0.19000 0.0288"/>
            </geometry>
        </collision>
        
        <!-- Peripheral mounting elements -->
        <collision>
            <origin xyz="-0.08452 0.00975 -0.00693" rpy="0.00000 0.00000 1.57080"/>
            <geometry>
                <box size="0.04060 0.02100 0.03880"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="-0.05269 0.06718 -0.00693" rpy="0.00000 0.00000 0.78540"/>
            <geometry>
                <box size="0.04060 0.02100 0.03880"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="0.05269 0.06718 -0.00693" rpy="0.00000 0.00000 -0.78540"/>
            <geometry>
                <box size="0.04060 0.02100 0.03880"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="-0.06759 -0.05244 -0.00693" rpy="0.00000 0.00000 -0.78540"/>
            <geometry>
                <box size="0.04060 0.02100 0.03880"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="0.06759 -0.05244 -0.00693" rpy="0.00000 0.00000 0.78540"/>
            <geometry>
                <box size="0.04060 0.02100 0.03880"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="0.08452 0.00975 -0.00693" rpy="0.00000 0.00000 1.57080"/>
            <geometry>
                <box size="0.04060 0.02100 0.03880"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="0 0 0.0161" rpy="0.00000 0.00000 1.57080"/>
            <geometry>
                <box size="0.07820 0.19000 0.0288"/>
            </geometry>
        </collision>
        
        <!-- Extended platform elements -->
        <collision>
            <origin xyz="-0.07305 -0.06865 0.0161" rpy="0.00000 0.00000 0.7853981634"/>
            <geometry>
                <box size="0.0502 0.0724 0.0344"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="-0.06843 0.07413 0.0161" rpy="0.00000 0.00000 -0.7853981634"/>
            <geometry>
                <box size="0.0502 0.0758 0.0344"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="0.06843 0.07413 0.0161" rpy="0.00000 0.00000 3.926990817"/>
            <geometry>
                <box size="0.0502 0.0758 0.0344"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="0.09828 0.0053 0.0161" rpy="0.00000 0.00000 1.570796327"/>
            <geometry>
                <box size="0.0772 0.0536 0.0344"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="-0.09828 0.0053 0.0161" rpy="0.00000 0.00000 1.570796327"/>
            <geometry>
                <box size="0.0772 0.0536 0.0344"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="0.07305 -0.06865 0.0161" rpy="0.00000 0.00000 2.35619449"/>
            <geometry>
                <box size="0.0772 0.0536 0.0344"/>
            </geometry>
        </collision>
        
        <!-- Cylindrical connection elements -->
        <collision>
            <origin xyz="0.08600 -0.08607 0.01708" rpy="0.00000 0.00000 0.00000"/>
            <geometry>
                <cylinder radius="0.014" length="0.0278"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="-0.08600 -0.08607 0.01708" rpy="0.00000 0.00000 0.00000"/>
            <geometry>
                <cylinder radius="0.014" length="0.0278"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="0.08600 0.08607 0.01708" rpy="0.00000 0.00000 0.00000"/>
            <geometry>
                <cylinder radius="0.014" length="0.0278"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="-0.08600 0.08607 0.01708" rpy="0.00000 0.00000 0.00000"/>
            <geometry>
                <cylinder radius="0.014" length="0.0278"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="0.12206 0.00017 0.01708" rpy="0.00000 0.00000 0.00000"/>
            <geometry>
                <cylinder radius="0.014" length="0.0278"/>
            </geometry>
        </collision>
        
        <collision>
            <origin xyz="-0.12206 0.00017 0.01708" rpy="0.00000 0.00000 0.00000"/>
            <geometry>
                <cylinder radius="0.014" length="0.0278"/>
            </geometry>
        </collision>
        
    </xacro:macro>
</robot>